.grid-wrapper_im  {
    /* Display a grid using this class */
    display: grid;
    width: 100vw;
    height: 100vh;

/* gtid-template rows for the content border on the left */

  grid-template-rows: 1fr 1fr 1fr 3fr 1fr; /* 1fr == 20-30px (depends on the screen size)*/
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr 2fr;
  grid-template-areas:
  "woodleft_im  header_im   header_im   header_im   woodright_im"
  "woodleft_im  navbar_im   navbar_im   navbar_im   woodright_im"
  "woodleft_im  content1_im  content2_im  content3_im  woodright_im"
  "woodright_im footer_im   footer_im   footer_im   woodright_im";    

} 
  
.woodleft_im{
    grid-area: woodleft_im;
    background-color: brown;
    display: block;
}

.header_im{
    grid-area: header_im;
    background-color: brown;
    display: block;
}

.navbar_im{
    grid-area: navbar_im;
    background-color: brown;
    display: block;
}   
    
.content_im{
    grid-area: content_im;
    background-color: brown;
    display: block;
}

.woodright_im{
    grid-area: woodright_im;
    background-color: brown;
    display: block;
}

.footer_im{
    grid-area: footer_im;
    background-color: brown;
    display: block;
}

.content_im{
    grid-area: left;
    position: relative;
    bottom: 10px;
    left: 10px;
    
  }
    

/*carlos*/



/*Keith*/



/*Josh*/




/*Hetal*/